body {
  font-family: "Quicksand", sans-serif;
}

ul {
  list-style-type: none;
  text-align: left;
}

h2 {
  font-size: 50px;
  color: darkgray;
}

.additionalWeatherDetails {
  margin-top: 40px;
}

.locationInput {
  margin-top: 25px;
}

.searchButton {
  margin-top: 20px;
}

.useCurrentLocationButton {
  margin-top: 20px;
  float: left !important;
  margin-left: -20px;
}

.currentCard {
  text-align: left;
}

.dayOneCard {
  border: transparent;
}

.card-body {
  text-align: center;
}

.units {
  position: relative;
  top: -30px;
  left: -20px;
  font-size: 15px;
  font-style: blue;
  font-style: underline;
}

.cityName {
  font-size: 35px;
  color: darkgray;
}

.weatherImage {
  font-size: 70px;
  position: relative;
  top: -20px;
}

.temperatureText {
  font-size: 60px;
  color: darkgray;
}

.weatherText {
  font-size: 20px;
  text-transform: capitalize;
}

.openSourceFooter {
  text-align: center;
}

.weatherAppWrapper {
  border: 40px;
  font-family: Arial, Helvetica, sans-serif;
  /*background-color: cadetblue;*/
  border-radius: 10px;
  border-color: orangered;
  border-width: 20px;
}

.units .active {
  color: darkgray;
  cursor: default;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
