body {
  font-family: "Quicksand", sans-serif;
}

ul {
  list-style-type: none;
  text-align: left;
}

h2 {
  font-size: 50px;
  color: darkgray;
}

.additionalWeatherDetails {
  margin-top: 48px;
  text-align: center;
}

.locationInput {
  margin-top: 25px;
  margin-left: 20px;
}

.searchButton {
  margin-top: 25px;
}

.useCurrentLocationButton {
  margin-top: 25px;
  float: left !important;
  margin-left: -12px;
}

.currentCard {
  text-align: center;
}

.units {
  position: relative;
  top: -27px;
  left: -15px;
  font-size: 20px;
}

.cityName {
  font-size: 35px;
  color: darkgray;
  margin-left: 20px;
  text-align: center;
}

.weatherImage {
  font-size: 70px;

  top: -20px;
  text-align: center;
}

.temperatureText {
  font-size: 60px;
  color: darkgray;
  text-align: center;
  margin-top: -12px;
}

.unit {
  font-size: 20px;
}

.weatherText {
  font-size: 20px;
  text-transform: capitalize;
}

.openSourceFooter {
  text-align: center;
}

.weatherAppWrapper {
  border: 40px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border-color: orangered;
  border-width: 20px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
