body {
  font-family: "Quicksand", sans-serif;
}

ul {
  list-style-type: none;
  text-align: left;
}

h2 {
  font-size: 50px;
  color: darkgray;
}

.additionalWeatherDetails {
  margin-top: 40px;
}

.locationInput {
  margin-top: 25px;
}

.searchButton {
  margin-top: 20px;
}

.useCurrentLocationButton {
  margin-top: 20px;
  float: left !important;
  margin-left: -20px;
}

.currentCard {
  text-align: left;
}

.dayOneCard {
  border: transparent;
}

.units {
  position: relative;
  top: -30px;
  font-size: 10px;
  font-style: blue;
  font-style: underline;
  font-size: medium;
}

.cityName {
  font-size: 35px;
  color: darkgray;
}

.weatherImage {
  font-size: 70px;
  position: relative;
  top: -20px;
}

.temperatureText {
  font-size: 60px;
  color: darkgray;
}

.weatherText {
  font-size: 20px;
  text-transform: capitalize;
}

.openSourceFooter {
  text-align: center;
}

.weatherAppWrapper {
  border: 40px;
  font-family: Arial, Helvetica, sans-serif;
  /*background-color: cadetblue;*/
  border-radius: 10px;
  border-color: orangered;
  border-width: 20px;
}
